*{
    font-family: "Poppins", serif;
}
:root{
    --green-color: #70C45D;
    --bg-green: #f0f7f1 ;
}
span{
    color: var(--green-color);
}
li{
    a{
        color: black !important;
    }
    .active{
        color: var(--green-color) !important;
    }
}
li{
    a:hover{
        color: #70C45D !important;
    }
}
.myBg1{
    background-color: var(--bg-green);
    #btn1{
        background-color: var(--green-color);
    }
    #btn2{
        color: var(--green-color);
    }
}
.myCard1{
    transition: all 200ms ease;
    svg{
        fill: #70C45D;
    }
}
.myCard1:hover{
    background-color: var(--green-color) !important;
    color: white;
    svg{
        fill: white;
    }
}
.myBtn2{
    background-color: var(--green-color) !important;
    transition: all 200ms ease-in-out;
    svg{
        transition: all 200ms ease-in-out;
    }
}
.myBtn2:hover{
    background-color: #9dda90 !important;
    svg{
        transform: translateX(5px);
    }
}
.myBtn3{
    background-color: var(--bg-green) !important; 
    color: var(--green-color) !important;
}
.bgSvg{
    width: 60px !important;
    height: 60px !important; 
    background-color: var(--green-color);
    place-items: center;
}
.myCard2{
    background-color: white !important;
    border-radius: 20px !important;
}
.lay{
    transition: all 250ms ease-in-out;
    .bglay{
        transition: all 250ms ease-in-out;
        border-radius: 20px;
        background-color: var(--green-color) !important;
        a{
            transition: all 250ms ease-in-out;
        }
    }
}
.lay:hover{
    transform: translateY(-10px);
    .bglay{
        border-radius: 28px;
        margin-top: -5px !important;
        padding-bottom: 6px !important;
        a{
            color: var(--green-color) !important;
        }
    }
}
.myBg2{
    background-color: var(--bg-green);
    .myBtn4{
         background-color: #c7efbe; 
         color: var(--green-color);
    }
}
.myCard3{
    height: 80px;
    background-color: white !important;
    .bgSvg{
        transition: all 200ms ease-in-out;
        width: 37px !important;
        height: 30px !important;
        background-color: #d5e4d1;
        place-items: center;
    }
}
.myCard3:hover{
    .bgSvg{
        background-color: var(--green-color) !important;
        svg{
            fill: white !important;
        }
    }
}
.myBtn5{
    background-color: var(--bg-green) !important;
    color: var(--green-color) !important;
}
.myCard4{
    height: 520px;
    background-color: white;
    .myBtn6{
        border: 1px solid var(--green-color) !important;
        color: var(--green-color);
    }
    .myBtn6:hover{
        border: 1px solid var(--green-color) !important;
        background-color: var(--green-color) !important;
        color: white !important;
    }
}